<div *ngIf="current">
  <!-- //checks if current variable is null or not,if it's not null then ony it will 
  show up the rest of the html content// -->
  <div>
    <span>
      {{current.city}} {{current.country}}
      <!-- data binding is done here {{}} -->
    </span>
  <br />
    <span>{{current.date | date:'fullDate'}}</span>
  </div>
  <div>
    <img [src] = 'current.image' />
    <!-- binding the src property to the value of current data (property binding)-->
    <span>{{current.temperature | number:'1.0-0'}} &#8457;</span> 
    <!-- to display degree symbol &#8457 -->
  </div>
  <div>
    {{current.description}}
  </div>
</div>
